$select-menu-height: 38px;



.SSM-root-container {
    position: relative;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;

    * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
        font-size: 18px;
    }

    li {
        list-style: none;
    }

    .hidden {
        display: none;
    }

    svg.SSM-pulldown-icon {
        width: 18px;
        margin-left: 5px;
    }

    li.SSM-select-list {
        display: flex;
        align-items: center;
    }

    img.SSM-menu-item-icon {
        display: inline-block;
        width: 24px;
        border-radius: 50%;
        background-color: #dddddd;
        margin-right: 5px;
        pointer-events: none;
    }

    p.SSM-menu-item-text {
        display: inline-block;
        pointer-events: none;
    }

    div.SSM-selected-item-container {
        transition: all .2s;
        z-index: 0;

        svg.SSM-pulldown-icon {
            width: 10px;
            margin: 0 5px;
            transition: all .2s;
            transform: rotate(180deg);
        }
        svg.SSM-pulldown-icon.active {
            transform: rotate(0deg);
        }

        p.SSM-default-text:not(.hidden), p.SSM-selected-item:not(.hidden) {
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 2px #000000 solid;
            padding: 4px;
            white-space: nowrap;
        }
    }

    div.SSM-selected-item-container:hover {
        color: #ffffff;
        background-color: #1a1a1a;

        .SSM-pulldown-icon {
            fill: #ffffff;
        }
    }

    ul.SSM-select-menu {
        position: absolute;
        top: $select-menu-height;
        left: 0;
        display: none;
        padding-left: 0;
        margin: 0;
        margin-top: 2px;
        border: 1px #000000 solid;
        border-radius: 4px;
        padding: 4px;
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        z-index: 99;
        white-space: nowrap;

        li.SSM-select-list {
            padding: 4px;
            border-bottom: 2px #cccccc dotted;
        }
        li.SSM-select-list:last-child {
            border: none;
        }
        li.SSM-select-list:hover {
            background-color: rgba($color: #000000, $alpha: 0.1)
        }
    }
    ul.SSM-select-menu.active {
        display: block;
    }
}